<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Elegram</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <span id="username" style="display: none" name="username"><%= username %></span>
        <div class="wrapper">
            <div class="main-user__container" id="userContainer"></div>
            <div class="main-message__container">
                <div class="message-header__container"></div>
                <div class="message-place__container">
                    <div class="message-view__container" id="messages"></div>
                </div>
                <div class="message-input__container">
                    <input type="text" id="inputField" placeholder="Message..." />
                    <button id="sendButton">Send</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
