*,
*::after,
*::before {
    font-family: monospace;
    border: 0;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-user__container {
    width: 35%;
    height: 100%;
    background-color: lightblue;
    padding: 0 10px;
}

.main-message__container {
    width: 65%;
    height: 100%;
}

.user__container {
    font-size: 1.5em;
    height: 50px;
    display: flex;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.user__container.active {
    padding-left: 6px;
    border-left: solid 4px lightskyblue;
}

.message-header__container {
    height: 50px;
    width: 100%;
    background-color: lightskyblue;
}

.message-view__container {
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.message-from,
.message-to {
    display: flex;
    flex-direction: column;
    width: inherit;
    min-height: 40px;
    max-width: 200px;
    min-width: 100px;
    background-color: lightgray;
    justify-content: center;
    border-radius: 10px;
    padding: 0 10px;
}

.message-to{
    align-self: flex-end;
    text-align: right;
    background-color: lightblue;
}

.username {
    font-size: 1.2em;
}

.message-text__container {
    font-size: 1.15em;
}


.message-input__container {
    width: 100%;
    height: 50px;
    display: flex;
}

#inputField {
    width: 90%;
    font-size: 1.3em;
    border: 0;
    padding: 10px;
    border-top: solid 3px lightgray;
}

#sendButton {
    width: 10%;
    font-size: 1.3em;
    background-color: lightskyblue;
    color: white;
    transition: all 0.25s ease;
}
#sendButton:hover {
    background-color: #4db8fb;
}
